@import "../reset.min.css";
@import "../header.css";
/*教练列表*/
body{
    background: white;
}
.container{
    width: 100%;
}
.container>li{
    width: 100%;
    height: 1.8rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0.2rem 3% 0 3%;
}
.container>li div{
    float: left;
    height: 1.4rem;
}
.container>li div:last-of-type{
    margin-left: 3%;
}
.container>li div:first-of-type{
    width: 18.6%;
}
.container>li div:first-of-type img{
    width: 100%;
    height: 100%;
}
.container>li div:last-of-type{
    width: 78%;
}
.container>li div:last-of-type p{
    width: 100%;
    font-size: 0.2rem;
    color: #8F8E94;
}
.container>li div:last-of-type p:first-of-type{
    font-size: 0.32rem;
    color: black;
}
.container>li div:last-of-type p.line{
    line-height: 0.55rem;
}
.container>li div:last-of-type p.line img{
    width: 0.32rem;
    height: 0.32rem;
    margin-left: 45%;
}
.container>li div:last-of-type p:first-of-type img{
    width: 0.24rem;
}
.container>li div:last-of-type p:last-of-type .zan{
    margin-left: 3%;
}