@import "../reset.min.css";
@import "../header1.css";
/*十年磨一剑!*/
.policy {
    margin-top: 0.5rem;
    width: 100%;
    height: 1.1rem;
}

.policy h6 {
    font-size: 0.33rem;
    width: 90%;
    margin-left: 5%;
}

.policy > div {
    font-size: 0.2rem;
    width: 90%;
    margin: 0.1rem 0 0 5%;
    overflow: hidden;
    color: #8F8E94;
}

.policy > div p:first-of-type {
    float: left;
}

.policy > div p:last-of-type {
    float: right;
}

.container {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.container img {
    padding-top: 0.2rem;
    width: 92%;
    margin-left: 4%;
    height: 4.1rem;
}
.container p{
    width: 92%;
    margin-left: 4%;
    font-size: 0.28rem;
    text-align: justify;
    letter-spacing:0;
}